<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand ms-3 box-shadow" href="/"><%= image_tag 'E.png', style: 'height:40px;width:auto;' %> Eventify &nbsp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active box-shadow" href="/">Home</a>
      <a class="nav-item nav-link box-shadow" href="/events">My Events</a>
      <a class="nav-item nav-link box-shadow" href="/events/new">Create Event</a>
      </div>
      </div>
    <div class="justify-content-end me-3 box-shadow"><%= button_to "Log Out", logout_path, method: :delete, data: { turbo: false } %></div>
</nav>