@import "bootstrap";


.box-shadow{
	box-shadow: none;
}

.box-shadow:hover{
	-webkit-box-shadow: 0 20px 40px rgba(72,78,85,.6);
	box-shadow: 0 20px 40px rgba(72,78,85,.6);
	
}

.btn-xs {
  font-size: 0.7rem;        
  padding: 0.25rem 0.5rem;  
  line-height: 1;           
  border-radius: 0.2rem;    
}